<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TouristTracker - Lista de Pontos Turísticos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo" class="logo">
                <h2 class="company-name">TouristTracker</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/new">Adicionar Ponto Turístico</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Conteúdo principal aqui -->

    <footer>
        <div class="container">
            <p>&copy; 2024 TouristTracker. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
